<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-header bg-warning p-0">
                        <img src="https://www.exzyworkplaceplus.com/wp-content/uploads/2022/02/luke-peters-B6JINerWMz0-unsplash-1-scaled.jpg"
                            class="card-img-top" alt="img">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            &copy;เทคโนโลยีสารสนเทศ 2024.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h5 class="text-white">
                            ระบบลงทะเบียนผู้ใช้งาน
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-success">

                        <form @submit.prevent>
                            <div class="mb-2">
                                <label for="" class="form-label">ชื่อ</label>
                                <input type="text" v-model="userForm.fname" class="form-control" placeholder="ชื่อผู้สมัคร"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.fname.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">นามสกุล</label>
                                <input type="text" v-model="userForm.lname" class="form-control"
                                    placeholder="นามสกุลผู้สมัคร" required>
                            </div>
                            <span class="text-danger" v-for="error in v$.lname.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">อีเมลล์</label>
                                <input type="email" v-model="userForm.email" class="form-control" placeholder="อีเมลล์"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.email.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">รหัสผ่าน</label>
                                <input type="password" v-model="userForm.password" class="form-control" placeholder="รหัสผ่าน"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.password.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">ยืนยันรหัสผ่าน</label>
                                <input type="password" v-model="userForm.confirmpassword" class="form-control"
                                    placeholder="ยืนยันรหัสผ่าน" required>
                            </div>
                            <span class="text-danger" v-for="error in v$.confirmpassword.$errors" :key="error.$uid"
                                v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">เบอร์โทรศัพท์</label>
                                <input type="text" v-model="userForm.phone" class="form-control" placeholder="เบอร์โทรศัพท์"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.phone.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label m-2">ที่อยู่</label>
                                <textarea v-model="userForm.address" cols="50" rows="2"></textarea>
                            </div>
                            <span class="text-danger" v-for="error in v$.address.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <button type="submit" @click="submitForm" class="btn btn-primary btn-sm shadow">
                                    สมัครสมาชิก
                                </button>
                            </div>

                        </form>
                        </p>
                        <div class="mb-2">
                            <p class="text-body text-center">
                                Allready have an account?
                                <router-link :to="{ name: 'signin' }"
                                    class="text-decoration-none font-weight-bolder">Singin</router-link>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from 'axios';
import { reactive, computed } from 'vue';
import { required, email, sameAs, minLength } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'
import router from '@/router';

const state = reactive({
    // redirectTo:"/"
     name: 'signin'
})

const userForm = reactive({
    fname: "",
    lname: "",
    email: "",
    password: "",
    confirmpassword: '',
    phone: "",
    address: "",
})

const rules = computed(() => {
    return {
        fname: { required },
        lname: { required },
        email: { required, email },
        password: { required, minLength: minLength(4) },
        confirmpassword: { required, sameAs: sameAs(userForm.password) },
        phone: { required },
        address: { required },
    }
})


const v$ = useVuelidate(rules, userForm)

const submitForm = async () => {
    const result = await v$.value.$validate()
    if (result) {
        alert('Success, from submitted')
        const result = await axios.post(`http://localhost:3000/users`, {
            fname: userForm.fname,
            lname: userForm.lname,
            email: userForm.email,
            password: userForm.password,
            // confirmpassword: userForm.confirmpassword,
            phone: userForm.phone,
            address: userForm.address,
        })

        if (result.status == 201) {
            console.log('สมัครสมาชิกเรียบร้อย')
            localStorage.setItem("user-info", JSON.stringify(result.data))
            console.log(result.data)
            console.log(JSON.stringify(result.data))
            router.push(state.name)
        } else {
            console.log('สมัครสมาชิกไม่เรียบร้อย')
        }
    } else {
        alert('Error, from submitted')
    }
}

</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.form-label {
    font-family: 'Sarabun', sans-serif;
}

.btn {
    font-family: 'Sarabun', sans-serif;
}
</style>
